body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 156px 60px;
  font-family: 'Montserrat', sans-serif;
}

.back-link {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: #4e75ff;
  font-size: 1.1em;
  font-weight: 500;
  border: 1px solid #4e75ff;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 25px;
}

.back-link:hover {
  background-color: #4e75ff;
  color: #ffffff;
  border-color: #4e75ff;
  transform: translateY(-2px);
}

.back-link:active {
  background-color: #2c58e0;
  border-color: #2c58e0;
  transform: translateY(0);
}

.form {
}

.label-delay {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-delay {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 40px;
}

.fieldset {
  margin-bottom: 24px;
  border-radius: 4px;
  max-width: 360px;
  padding: 24px 48px 8px 48px;
  display: flex;
  gap: 48px;
}

.legend-state {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 0 2px;
}

.label {
  display: flex;
  gap: 8px;
}

.input {
  border-radius: 4px;
  border: 1px solid #808080;
  cursor: pointer;
}

.btn-create {
  border-radius: 8px;
  padding: 8px 99px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-create {
  background-color: #6c8cff;
}
